In [18]:
# TEMEL STRİNG İŞLEMLERİ

In [19]:
isim="mvk"

In [20]:
3*isim

'mvkmvkmvk'

In [21]:
"mvk"+"ali"

'mvkali'

In [22]:
"K"+isim[1:]

'Kvk'

In [23]:
isimler=["ali","veli","ayse"]

In [24]:
for i in isimler:
    print("isim",i, sep="")

isimali
isimveli
isimayse

In [25]:
for i in isimler:
    print("_",i[0:],sep="")

_ali
_veli
_ayse

In [27]:
print(*enumerate(isimler))

(0, 'ali') (1, 'veli') (2, 'ayse')

In [31]:
for i in enumerate(isimler):
    print(i)

(0, 'ali')
(1, 'veli')
(2, 'ayse')

In [32]:
for i in enumerate("isimler"):
    print(i)

(0, 'i')
(1, 's')
(2, 'i')
(3, 'm')
(4, 'l')
(5, 'e')
(6, 'r')

In [33]:
for i in enumerate(isimler,4):
    print(i)

(4, 'ali')
(5, 'veli')
(6, 'ayse')

In [34]:
## DİZİ İÇİ TİP SORGULAMALARI

In [36]:
"mvk".isalpha() # mvk alfabetikmi diye sorduk

True

In [37]:
"mvk30".isalpha()

False

In [38]:
"123".isnumeric()

True

In [40]:
"123".isdigit() # metin tamammen sayıslamı sorar

True

In [41]:
"mvk34".isalnum()# metidne sayısal ve string varmı soroar

True

In [42]:
## ELEMAN İNDEXLERE ERİŞMEK VE ELEMANA

In [43]:
mvk="mvk"

In [44]:
mvk

'mvk'

In [45]:
mvk[0:2]

'mv'

In [46]:
isim="süleymankursatdemir"

In [47]:
isim.index("a")

6

In [54]:
isim.index("a",7) # 1.a dan sonra ikinci a nerde diye yazdık

12

In [55]:
# BAŞLANGIC VE BİTİŞ KARAKTERLERİNİ SORGULAMAK

In [56]:
isim="süleyman demişr"

In [58]:
isim.startswith("a") # baştaki karakter a ile başlıyormu

False

In [59]:
isim.startswith("s")

True

In [60]:
isim.startswith("S")

False

In [63]:
isim.endswith("r") # sondaki karakter r ile mi bitiyoe

True

In [64]:
isim.count("i")

1

In [67]:
sorted("defter") # sıralama işlemleri yapılıyor

['d', 'e', 'e', 'f', 'r', 't']

In [69]:
print(*sorted("defter"),sep="-")

d-e-e-f-r-t

In [70]:
# KARAKTERLERİ BÖLMEK

In [75]:
isim="süleuma denmşr şdsd"

In [76]:
isim.split()

['süleuma', 'denmşr', 'şdsd']

In [79]:
isim.split("a")

['süleum', ' denmşr şdsd']

In [80]:
isim="sülehyman-demir"

In [81]:
isim.split("-")

['sülehyman', 'demir']

In [82]:
isim.upper()

'SÜLEHYMAN-DEMIR'

In [83]:
isim.lower()

'sülehyman-demir'

In [85]:
isim.upper().lower()

'sülehyman-demir'

In [1]:
isim="ali"

In [2]:
isim.islower()

True

In [3]:
isim="süleyman kürşat demir"

In [4]:
isim.capitalize()

'Süleyman kürşat demir'

In [5]:
isim.title()

'Süleyman Kürşat Demir'

In [9]:
isim="SÜLEYMAn demir"

In [10]:
isim.swapcase()

'süleymaN DEMIR'

In [15]:
# sitenmeyen karakterleri kırpmak strip,istrip,rsting

In [16]:
isim=" hello "

In [17]:
isim.strip()

'hello'

In [18]:
isim="thelot"

In [19]:
isim.strip("t")

'helo'

In [20]:
isim="3helo3"

In [21]:
isim.rstrip("3")

'3helo'

In [22]:
isim.lstrip("3")

'helo3'

In [23]:
isim

'3helo3'

In [24]:
# join birleştirme

In [25]:
isim="süleymandemir kürşat"

In [27]:
ayrik=isim.split()
ayrik

['süleymandemir', 'kürşat']

In [29]:
joiner="****"
joiner.join(ayrik)

'süleymandemir****kürşat'

In [31]:
# eleman değiştrime replace,str.maketrans,translate

In [33]:
isim

'süleymandemir kürşat'

In [34]:
isim.replace("s","t")

'tüleymandemir kürşat'

In [35]:
isim.replace("man","344")

'süley344demir kürşat'

In [36]:
ifade="bu ifade içerisinde bağzı türkçe kkaraterler vardır"

In [37]:
düzeltilecekHarfler="çÇĞğıİÖöşŞ"
düzeltilmişHarfler="cCGgIiOoşŞ"

In [38]:
düzenlme=str.maketrans(düzeltilecekHarfler,düzeltilmişHarfler)

In [40]:
ifade.translate(düzenlme) # bu işlemler genelde türke verilerede twtterden çektiğimizde yarar

'bu ifade icerisinde bagzI türkce kkaraterler vardIr'

In [41]:
## contains

In [57]:
isimler=["ali","aLi","veli","sülo","kero","saltuk"]

In [58]:
import pandas as pd
v=pd.Series(isimler)

In [59]:
v

0       ali
1       aLi
2      veli
3      sülo
4      kero
5    saltuk
dtype: object

In [60]:
v.str.contains("li")

0     True
1    False
2     True
3    False
4    False
5    False
dtype: bool

In [61]:
v[v.str.contains("li")]

0     ali
2    veli
dtype: object

In [62]:
v.str.contains("li").sum()

2

In [1]:
v.str.contains("a[A]")

NameError: name 'v' is not defined

In [3]:
!pip install kivy
from kivy.app import App
from kivy.uix.label import Label
from kivy.uix.textinput import TextInput
from kivy.uix.gridlayout import GridLayout


class giris(GridLayout) :
    class giris(GridLayout):
        def _init_(self, **kwargs):
            super(giris, self)._init_(**kwargs)
            self.cols = 2

            self.kullanici_adi = Label(text="Kullanıcı Adı: ")
            self.add_widget(self.kullanici_adi)
            self.kullanici = TextInput(multiline=False)
            self.add_widget(self.kullanici)

            self.password = Label(text="Şifre: ")
            self.add_widget(self.password)
            self.sifre = TextInput(multiline=False)
            self.add_widget(self.sifre)

class uygulama(App) :

    def build(self):
        return giris()


if __name__ == "__main__":
    uygulama().run()

Requirement already satisfied: kivy in c:\users\dell\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: Kivy-Garden>=0.1.4 in c:\users\dell\anaconda3\lib\site-packages (from kivy) (0.1.5)
Requirement already satisfied: docutils in c:\users\dell\anaconda3\lib\site-packages (from kivy) (0.18.1)
Requirement already satisfied: pygments in c:\users\dell\anaconda3\lib\site-packages (from kivy) (2.15.1)
Requirement already satisfied: kivy-deps.angle~=0.4.0 in c:\users\dell\anaconda3\lib\site-packages (from kivy) (0.4.0)
Requirement already satisfied: kivy-deps.sdl2~=0.7.0 in c:\users\dell\anaconda3\lib\site-packages (from kivy) (0.7.0)
Requirement already satisfied: kivy-deps.glew~=0.3.1 in c:\users\dell\anaconda3\lib\site-packages (from kivy) (0.3.1)
Requirement already satisfied: pypiwin32 in c:\users\dell\anaconda3\lib\site-packages (from kivy) (223)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (from Kivy-Garden>=0.1.4->kivy) (2.31.0)
Requirement already satisfied: pywin32>=223 in c:\users\dell\anaconda3\lib\site-packages (from pypiwin32->kivy) (305.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests->Kivy-Garden>=0.1.4->kivy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests->Kivy-Garden>=0.1.4->kivy) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests->Kivy-Garden>=0.1.4->kivy) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests->Kivy-Garden>=0.1.4->kivy) (2023.7.22)

OSError: source code not available

In [2]:
! pip install kivy
# Kivy kütüphanesini içeriye aktarın
import kivy
# Kivy uygulaması oluşturmak için gerekli olan App sınıfını içeriye aktarın
from kivy.app import App
from kivy.uix.label import Label

class HelloWorldApp(App):
    def build(self):
        return Label(text="Hello, World!")

if __name__ == "__main__":
    HelloWorldApp().run()

[INFO   ] [Logger      ] Record log in C:\Users\Dell\.kivy\logs\kivy_24-03-25_43.txt
[INFO   ] [deps        ] Successfully imported "kivy_deps.angle" 0.4.0
[INFO   ] [deps        ] Successfully imported "kivy_deps.glew" 0.3.1
[INFO   ] [deps        ] Successfully imported "kivy_deps.sdl2" 0.7.0
[INFO   ] [Kivy        ] v2.3.0
[INFO   ] [Kivy        ] Installed at "C:\Users\Dell\anaconda3\Lib\site-packages\kivy\__init__.py"
[INFO   ] [Python      ] v3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
[INFO   ] [Python      ] Interpreter at "C:\Users\Dell\anaconda3\python.exe"
[INFO   ] [Logger      ] Purge log fired. Processing...
[INFO   ] [Logger      ] Purge finished!
[INFO   ] [Factory     ] 195 symbols loaded

Requirement already satisfied: kivy in c:\users\dell\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: Kivy-Garden>=0.1.4 in c:\users\dell\anaconda3\lib\site-packages (from kivy) (0.1.5)
Requirement already satisfied: docutils in c:\users\dell\anaconda3\lib\site-packages (from kivy) (0.18.1)
Requirement already satisfied: pygments in c:\users\dell\anaconda3\lib\site-packages (from kivy) (2.15.1)
Requirement already satisfied: kivy-deps.angle~=0.4.0 in c:\users\dell\anaconda3\lib\site-packages (from kivy) (0.4.0)
Requirement already satisfied: kivy-deps.sdl2~=0.7.0 in c:\users\dell\anaconda3\lib\site-packages (from kivy) (0.7.0)
Requirement already satisfied: kivy-deps.glew~=0.3.1 in c:\users\dell\anaconda3\lib\site-packages (from kivy) (0.3.1)
Requirement already satisfied: pypiwin32 in c:\users\dell\anaconda3\lib\site-packages (from kivy) (223)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (from Kivy-Garden>=0.1.4->kivy) (2.31.0)
Requirement already satisfied: pywin32>=223 in c:\users\dell\anaconda3\lib\site-packages (from pypiwin32->kivy) (305.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests->Kivy-Garden>=0.1.4->kivy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests->Kivy-Garden>=0.1.4->kivy) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests->Kivy-Garden>=0.1.4->kivy) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests->Kivy-Garden>=0.1.4->kivy) (2023.7.22)

[INFO   ] [Image       ] Providers: img_tex, img_dds, img_sdl2, img_pil (img_ffpyplayer ignored)
[INFO   ] [Text        ] Provider: sdl2

OSError: source code not available

[INFO   ] [Window      ] Provider: sdl2
[INFO   ] [GL          ] Using the "OpenGL" graphics system
[INFO   ] [GL          ] GLEW initialization succeeded
[INFO   ] [GL          ] Backend used <glew>
[INFO   ] [GL          ] OpenGL version <b'4.6.0 - Build 31.0.101.4502'>
[INFO   ] [GL          ] OpenGL vendor <b'Intel'>
[INFO   ] [GL          ] OpenGL renderer <b'Intel(R) Iris(R) Xe Graphics'>
[INFO   ] [GL          ] OpenGL parsed version: 4, 6
[INFO   ] [GL          ] Shading version <b'4.60 - Build 31.0.101.4502'>
[INFO   ] [GL          ] Texture max size <16384>
[INFO   ] [GL          ] Texture max units <32>
[INFO   ] [Window      ] auto add sdl2 input provider
[INFO   ] [Window      ] virtual keyboard not allowed, single mode, not docked

In [1]:
# METİN MAEDNCİLİĞİ VE DOĞAL DİL İŞLEME

In [2]:
# METİN ÖN İŞLEME

In [89]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [90]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [91]:
v_metin=metin.split("\n") # STRİNGİ DF/ARRAY /SERİYE ÇEVİRME

In [92]:
import pandas as pd
import numpy as np
v=pd.Series(v_metin)

In [93]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [94]:
metin_vektoru=v[1:len(v)]

In [97]:
metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [87]:
mdf=pd.DataFrame(metin_vektoru,columns=["HİKAYELER"])

In [96]:
mdf

                                HİKAYELER
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [69]:
# büyük küçük harf

In [70]:
d_mdf=mdf.copy()

In [71]:
d_mdf

                                HİKAYELER
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [369]:
list1=[1,2,3]

In [370]:
str1=" ".join(str(i)for i in list1)

In [371]:
str1 # boşluklarla birleştirdik

'1 2 3'

In [372]:
d_mdf["HİKAYELER"].apply(lambda x: " ".join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: HİKAYELER, dtype: object

In [374]:
d_mdf=d_mdf["HİKAYELER"].apply(lambda x: " ".join(x.upper() for x in x.split()))

In [375]:
d_mdf

1                  A SCANDAL IN BOHEMIA! 01
2                   THE RED-HEADED LEAGUE,2
3                    A CASE, OF IDENTITY 33
4              THE BOSCOMBE VALLEY MYSTERY4
5                     THE FIVE ORANGE PIPS1
6             THE MAN WITH? THE TWISTED LIP
7       THE ADVENTURE OF THE BLUE CARBUNCLE
8        THE ADVENTURE OF THE SPECKLED BAND
9     THE ADVENTURE OF THE ENGINEER'S THUMB
10      THE ADVENTURE OF THE NOBLE BACHELOR
11       THE ADVENTURE OF THE BERYL CORONET
12      THE ADVENTURE OF THE COPPER BEECHES
Name: HİKAYELER, dtype: object

In [321]:
# noktalama işaretlerinin silinmesi

In [376]:
type(d_mdf)

pandas.core.series.Series

In [378]:
d_mdf=d_mdf.str.replace("[^\w\s]","")
d_mdf

1                  A SCANDAL IN BOHEMIA! 01
2                   THE RED-HEADED LEAGUE,2
3                    A CASE, OF IDENTITY 33
4              THE BOSCOMBE VALLEY MYSTERY4
5                     THE FIVE ORANGE PIPS1
6             THE MAN WITH? THE TWISTED LIP
7       THE ADVENTURE OF THE BLUE CARBUNCLE
8        THE ADVENTURE OF THE SPECKLED BAND
9     THE ADVENTURE OF THE ENGINEER'S THUMB
10      THE ADVENTURE OF THE NOBLE BACHELOR
11       THE ADVENTURE OF THE BERYL CORONET
12      THE ADVENTURE OF THE COPPER BEECHES
Name: HİKAYELER, dtype: object

In [379]:
# sayıların silinmesi

In [380]:
d_mdf = d_mdf.str.replace("\d","")
d_mdf

1                  A SCANDAL IN BOHEMIA! 01
2                   THE RED-HEADED LEAGUE,2
3                    A CASE, OF IDENTITY 33
4              THE BOSCOMBE VALLEY MYSTERY4
5                     THE FIVE ORANGE PIPS1
6             THE MAN WITH? THE TWISTED LIP
7       THE ADVENTURE OF THE BLUE CARBUNCLE
8        THE ADVENTURE OF THE SPECKLED BAND
9     THE ADVENTURE OF THE ENGINEER'S THUMB
10      THE ADVENTURE OF THE NOBLE BACHELOR
11       THE ADVENTURE OF THE BERYL CORONET
12      THE ADVENTURE OF THE COPPER BEECHES
Name: HİKAYELER, dtype: object

In [328]:
# STOPWORDS DİLLERDE EN COK KULLNILAN KELŞMLER GİBİ BİR ŞEY

In [386]:
d_mdf = pd.DataFrame(d_mdf, columns = ["HİKAYELER"])

In [330]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\dell\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\dell\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\dell\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dell\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\dell\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [331]:
import nltk

In [332]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [333]:
from nltk.corpus import stopwords

In [334]:
sw = stopwords.words("english")

In [335]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [387]:
d_mdf["HİKAYELER"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

1                  A SCANDAL IN BOHEMIA! 01
2                   THE RED-HEADED LEAGUE,2
3                    A CASE, OF IDENTITY 33
4              THE BOSCOMBE VALLEY MYSTERY4
5                     THE FIVE ORANGE PIPS1
6             THE MAN WITH? THE TWISTED LIP
7       THE ADVENTURE OF THE BLUE CARBUNCLE
8        THE ADVENTURE OF THE SPECKLED BAND
9     THE ADVENTURE OF THE ENGINEER'S THUMB
10      THE ADVENTURE OF THE NOBLE BACHELOR
11       THE ADVENTURE OF THE BERYL CORONET
12      THE ADVENTURE OF THE COPPER BEECHES
Name: HİKAYELER, dtype: object

In [388]:
d_mdf = d_mdf["HİKAYELER"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [385]:
d_mdf

1                  A SCANDAL IN BOHEMIA! 01
2                   THE RED-HEADED LEAGUE,2
3                    A CASE, OF IDENTITY 33
4              THE BOSCOMBE VALLEY MYSTERY4
5                     THE FIVE ORANGE PIPS1
6             THE MAN WITH? THE TWISTED LIP
7       THE ADVENTURE OF THE BLUE CARBUNCLE
8        THE ADVENTURE OF THE SPECKLED BAND
9     THE ADVENTURE OF THE ENGINEER'S THUMB
10      THE ADVENTURE OF THE NOBLE BACHELOR
11       THE ADVENTURE OF THE BERYL CORONET
12      THE ADVENTURE OF THE COPPER BEECHES
Name: HİKAYELER, dtype: object

In [405]:
import pandas as pd
import string

# Örnek bir Pandas Serisi oluşturalım
seri = pd.Series(["Bu, bir örnek cümle.", "Başka bir cümle!"])

# Noktalama işaretlerini kaldırmak için bir lambda fonksiyonu kullanma
seri = seri.apply(lambda x: ''.join([char for char in x if char not in string.punctuation]))

print(seri)

0    Bu bir örnek cümle
1       Başka bir cümle
dtype: object

In [406]:
## AZ GEÇEN KELİMELERİN SİLİNMESİ

In [407]:
d_mdf

1                  A SCANDAL IN BOHEMIA! 01
2                   THE RED-HEADED LEAGUE,2
3                    A CASE, OF IDENTITY 33
4              THE BOSCOMBE VALLEY MYSTERY4
5                     THE FIVE ORANGE PIPS1
6             THE MAN WITH? THE TWISTED LIP
7       THE ADVENTURE OF THE BLUE CARBUNCLE
8        THE ADVENTURE OF THE SPECKLED BAND
9     THE ADVENTURE OF THE ENGINEER'S THUMB
10      THE ADVENTURE OF THE NOBLE BACHELOR
11       THE ADVENTURE OF THE BERYL CORONET
12      THE ADVENTURE OF THE COPPER BEECHES
Name: HİKAYELER, dtype: object

In [410]:
d_mdf = pd.DataFrame(d_mdf, columns = ["HİKAYELER"])
# join split operasyonu dataframe operasyonudur

In [411]:
pd.Series(" ".join(d_mdf["HİKAYELER"]).split()).value_counts()

THE           17
OF             7
ADVENTURE      6
A              2
BERYL          1
CORONET        1
BACHELOR       1
NOBLE          1
THUMB          1
WITH?          1
ENGINEER'S     1
BAND           1
SPECKLED       1
CARBUNCLE      1
BLUE           1
COPPER         1
LIP            1
TWISTED        1
PIPS1          1
MAN            1
SCANDAL        1
ORANGE         1
FIVE           1
MYSTERY4       1
VALLEY         1
BOSCOMBE       1
33             1
IDENTITY       1
CASE,          1
LEAGUE,2       1
RED-HEADED     1
01             1
BOHEMIA!       1
IN             1
BEECHES        1
Name: count, dtype: int64

In [413]:
sil=pd.Series(" ".join(d_mdf["HİKAYELER"]).split()).value_counts()[-3:]

In [414]:
sil

BOHEMIA!    1
IN          1
BEECHES     1
Name: count, dtype: int64

In [415]:
d_mdf["HİKAYELER"].apply(lambda x: " ".join(i for i in x.split() if i not in sil))

1                              A SCANDAL 01
2                   THE RED-HEADED LEAGUE,2
3                    A CASE, OF IDENTITY 33
4              THE BOSCOMBE VALLEY MYSTERY4
5                     THE FIVE ORANGE PIPS1
6             THE MAN WITH? THE TWISTED LIP
7       THE ADVENTURE OF THE BLUE CARBUNCLE
8        THE ADVENTURE OF THE SPECKLED BAND
9     THE ADVENTURE OF THE ENGINEER'S THUMB
10      THE ADVENTURE OF THE NOBLE BACHELOR
11       THE ADVENTURE OF THE BERYL CORONET
12              THE ADVENTURE OF THE COPPER
Name: HİKAYELER, dtype: object

In [417]:
# tokenization : cümleyi kelimelere ayırmak gibi bir şey

In [418]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [18]:
! pip install textblob

Requirement already satisfied: textblob in c:\users\dell\anaconda3\lib\site-packages (0.18.0.post0)
Requirement already satisfied: nltk>=3.8 in c:\users\dell\anaconda3\lib\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (4.65.0)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from click->nltk>=3.8->textblob) (0.4.6)

In [32]:
import textblob
from textblob import TextBlob

In [432]:
TextBlob(d_mdf["HİKAYELER"][1]).words  # pandas serisindeki cümleleri ayırır

WordList(['A', 'SCANDAL', 'IN', 'BOHEMIA', '01'])

In [434]:
d_mdf["HİKAYELER"].apply(lambda x: TextBlob(x).words)
# burdaki apply lambda ikilisiher bir satıra gir işlemi yap gibi bir anlam veriyor fonksiyondur

1                      [A, SCANDAL, IN, BOHEMIA, 01]
2                        [THE, RED-HEADED, LEAGUE,2]
3                        [A, CASE, OF, IDENTITY, 33]
4                  [THE, BOSCOMBE, VALLEY, MYSTERY4]
5                         [THE, FIVE, ORANGE, PIPS1]
6                [THE, MAN, WITH, THE, TWISTED, LIP]
7         [THE, ADVENTURE, OF, THE, BLUE, CARBUNCLE]
8          [THE, ADVENTURE, OF, THE, SPECKLED, BAND]
9     [THE, ADVENTURE, OF, THE, ENGINEER, 'S, THUMB]
10        [THE, ADVENTURE, OF, THE, NOBLE, BACHELOR]
11         [THE, ADVENTURE, OF, THE, BERYL, CORONET]
12        [THE, ADVENTURE, OF, THE, COPPER, BEECHES]
Name: HİKAYELER, dtype: object

In [1]:
# Stemming  ingilizcede kelimenin sonlarında eklenen ekleri siliyor kaldırıyor

In [2]:
from nltk.stem import PorterStemmer

In [3]:
st=PorterStemmer

In [4]:
from nltk.stem import PorterStemmer

# PorterStemmer nesnesini oluştur
stemmer = PorterStemmer()

# Örnek bir kelime listesi
kelimeler = ["running", "runner", "ran", "runs", "easily", "fairly"]

# Her kelimeyi kök haline getir
for kelime in kelimeler:
    print(f"{kelime} -> {stemmer.stem(kelime)}")

running -> run
runner -> runner
ran -> ran
runs -> run
easily -> easili
fairly -> fairli

In [19]:
from nltk.stem import PorterStemmer

# PorterStemmer nesnesini oluştur
stemmer = PorterStemmer()

# Örnek bir kelime listesi
kelimeler = ["running", "runner", "ran", "runs", "easily", "fairly"]

# Lambda fonksiyonunu tanımla
stem_word = lambda word: stemmer.stem(word)

# Her kelimeyi kök haline getir ve ekrana bas
for kelime in kelimeler:
    print(f"{kelime} -> {stem_word(kelime)}")

running -> run
runner -> runner
ran -> ran
runs -> run
easily -> easili
fairly -> fairli

In [27]:
# LEMMATİZATİON   bu daha çok tercih ediliyor

In [28]:
import nltk
from textblob import Word

nltk.download("wordnet")

# Örnek bir kelime listesi
kelimeler = ["running", "runner", "ran", "runs", "easily", "fairly","adventurer"]

# Her kelimeyi kök haline getir ve ekrana bas
for kelime in kelimeler:
    kelime_nesnesi = Word(kelime)
    print(f"{kelime} -> {kelime_nesnesi.lemmatize()}")

running -> running
runner -> runner
ran -> ran
runs -> run
easily -> easily
fairly -> fairly
adventurer -> adventurer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [29]:
# basit nlp (doğal dil işleme ) uygulama

In [30]:
a = """Bu örneği anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim.
N-gram'lar birlikte kullanılan kelimelerin kombinasyolarını gösterir"""
# N-GRAM

In [34]:
TextBlob(a).ngrams(4) # bu uygulamda cümlenin başından itibaren istediğin gruba ayırarak liste halinde geitirii ör 4

[WordList(['Bu', 'örneği', 'anlaşılabilmesi', 'için']),
 WordList(['örneği', 'anlaşılabilmesi', 'için', 'daha']),
 WordList(['anlaşılabilmesi', 'için', 'daha', 'uzun']),
 WordList(['için', 'daha', 'uzun', 'bir']),
 WordList(['daha', 'uzun', 'bir', 'metin']),
 WordList(['uzun', 'bir', 'metin', 'üzerinden']),
 WordList(['bir', 'metin', 'üzerinden', 'göstereceğim']),
 WordList(['metin', 'üzerinden', 'göstereceğim', "N-gram'lar"]),
 WordList(['üzerinden', 'göstereceğim', "N-gram'lar", 'birlikte']),
 WordList(['göstereceğim', "N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(["N-gram'lar", 'birlikte', 'kullanılan', 'kelimelerin']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin', 'kombinasyolarını']),
 WordList(['kullanılan', 'kelimelerin', 'kombinasyolarını', 'gösterir'])]

In [36]:
## Part of speech tagging (POS) cümlenin ögelerine ayırır bilgisi veriri gibi bir şey

In [37]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [39]:
TextBlob(a).tags

[('Bu', 'NNP'),
 ('örneği', 'NNP'),
 ('anlaşılabilmesi', 'VBZ'),
 ('için', 'JJ'),
 ('daha', 'NN'),
 ('uzun', 'JJ'),
 ('bir', 'NN'),
 ('metin', 'NN'),
 ('üzerinden', 'JJ'),
 ('göstereceğim', 'NN'),
 ("N-gram'lar", 'JJ'),
 ('birlikte', 'NN'),
 ('kullanılan', 'NN'),
 ('kelimelerin', 'VBP'),
 ('kombinasyolarını', 'NN'),
 ('gösterir', 'NN')]

In [40]:
## Chunking (shallow parsing)  : cümlenin dil bilgisine göre ayırır

In [43]:
cumle = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"
cumle=TextBlob(cumle).tags
cumle

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [44]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)

In [48]:
sonuclar = rp.parse(cumle)

In [49]:
sonuclar

ModuleNotFoundError: No module named 'svgling'

Tree('S', [('R', 'NNP'), ('and', 'CC'), ('Python', 'NNP'), ('are', 'VBP'), ('useful', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), ('tools', 'NNS'), ('for', 'IN'), ('the', 'DT'), ('new', 'JJ'), ('or', 'CC'), ('old', 'JJ'), ('data', 'NNS'), ('scientists', 'NNS'), ('who', 'WP'), ('eager', 'VBP'), ('to', 'TO'), ('do', 'VB'), ('efficent', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), Tree('NP', [('task', 'NN')])])

In [50]:
print(sonuclar)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [51]:
sonuclar.draw()

In [55]:
## Named Entity Recognition : belirli bir kategoriye girenleri kategorilere ayrırı mesel e studyo bir şirket diye ayırmış bunun gibi

In [56]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [57]:
cumle = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(cumle))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

In [58]:
# Matematiksel İşlemler ve Basit Özellik Çıkarımı

In [59]:
# harf / karakter sayısı

In [124]:
omdf=mdf.copy()
omdf=mdf

In [125]:
mdf["HİKAYELER"].str.len() # karakter sayısını saydı

1     24
2     23
3     22
4     28
5     21
6     29
7     35
8     34
9     37
10    35
11    34
12    35
Name: HİKAYELER, dtype: int64

In [126]:
omdf["harf sayısı"]=omdf["HİKAYELER"].str.len()
omdf

                                HİKAYELER  harf sayısı  harfSayisi
1                A Scandal in Bohemia! 01           24          24
2                 The Red-headed League,2           23          23
3                  A Case, of Identity 33           22          22
4            The Boscombe Valley Mystery4           28          28
5                   The Five Orange Pips1           21          21
6           The Man with? the Twisted Lip           29          29
7     The Adventure of the Blue Carbuncle           35          35
8      The Adventure of the Speckled Band           34          34
9   The Adventure of the Engineer's Thumb           37          37
10    The Adventure of the Noble Bachelor           35          35
11     The Adventure of the Beryl Coronet           34          34
12    The Adventure of the Copper Beeches           35          35

###  kelime sayısı

In [127]:
a = "scandal in a bohemia"

In [128]:
a.split()

['scandal', 'in', 'a', 'bohemia']

In [129]:
len(a.split())

4

In [130]:
# ama bunu böyle df lerde yapamıyoruz o yüzden apply ve lamba kullanmak fonksşyon kullnamka gerekir

In [137]:
omdf["kelime sayısı"]=omdf["HİKAYELER"].apply(lambda x:len(str(x).split(" "))) 
omdf
# her bir satırdaki cümle sayısnı buldu

,HİKAYELER,harf sayısı,harfSayisi,kelime sayısı
1,A Scandal in Bohemia! 01,24,24,5
2,"The Red-headed League,2",23,23,3
3,"A Case, of Identity 33",22,22,5
4,The Boscombe Valley Mystery4,28,28,4
5,The Five Orange Pips1,21,21,4
6,The Man with? the Twisted Lip,29,29,6
7,The Adventure of the Blue Carbuncle,35,35,6
8,The Adventure of the Speckled Band,34,34,6
9,The Adventure of the Engineer's Thumb,37,37,6
10,The Adventure of the Noble Bachelor,35,35,6
11,The Adventure of the Beryl Coronet,34,34,6
12,The Adventure of the Copper Beeches,35,35,6

In [136]:
# apply değişknelrde saydırma gibi kullanılıblir

In [139]:
 # özel kelimeleri yakalamak & saydırmak

In [148]:
omdf["özel karakter saysı"]=omdf["HİKAYELER"].apply(lambda x: len([x for x in x.split() 
                                       if x.startswith("Adventure")]))
omdf

,HİKAYELER,harf sayısı,harfSayisi,kelime sayısı,özel karakter saysı
1,A Scandal in Bohemia! 01,24,24,5,0
2,"The Red-headed League,2",23,23,3,0
3,"A Case, of Identity 33",22,22,5,0
4,The Boscombe Valley Mystery4,28,28,4,0
5,The Five Orange Pips1,21,21,4,0
6,The Man with? the Twisted Lip,29,29,6,0
7,The Adventure of the Blue Carbuncle,35,35,6,1
8,The Adventure of the Speckled Band,34,34,6,1
9,The Adventure of the Engineer's Thumb,37,37,6,1
10,The Adventure of the Noble Bachelor,35,35,6,1
11,The Adventure of the Beryl Coronet,34,34,6,1
12,The Adventure of the Copper Beeches,35,35,6,1

In [150]:
omdf["sayıSayısı"]=omdf["HİKAYELER"].apply(lambda x:len([x for x in x.split()if x.isdigit()]))
omdf
# sayıları saydır dedik

,HİKAYELER,harf sayısı,harfSayisi,kelime sayısı,özel karakter saysı,sayıSayısı
1,A Scandal in Bohemia! 01,24,24,5,0,1
2,"The Red-headed League,2",23,23,3,0,0
3,"A Case, of Identity 33",22,22,5,0,1
4,The Boscombe Valley Mystery4,28,28,4,0,0
5,The Five Orange Pips1,21,21,4,0,0
6,The Man with? the Twisted Lip,29,29,6,0,0
7,The Adventure of the Blue Carbuncle,35,35,6,1,0
8,The Adventure of the Speckled Band,34,34,6,1,0
9,The Adventure of the Engineer's Thumb,37,37,6,1,0
10,The Adventure of the Noble Bachelor,35,35,6,1,0
11,The Adventure of the Beryl Coronet,34,34,6,1,0
12,The Adventure of the Copper Beeches,35,35,6,1,0

In [151]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [152]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [153]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [154]:
#buyuk-kucuk donusumu
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [155]:
#noktalama işaretleri
data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

In [156]:
#sayılar
data['Phrase'] = data['Phrase'].str.replace('\d','')

In [157]:
#stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [158]:
#seyreklerin silinmesi
sil = pd.Series(' '.join(data['Phrase']).split()).value_counts()[-1000:]
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

In [159]:
#lemmi
from textblob import Word
#nltk.download('wordnet')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [160]:
data['Phrase'].head(10)

0    series escapade demonstrating adage good goose...
1       series escapade demonstrating adage good goose
2                                               series
3
4                                               series
5              escapade demonstrating adage good goose
6
7              escapade demonstrating adage good goose
8                                             escapade
9                       demonstrating adage good goose
Name: Phrase, dtype: object

In [161]:
## terim frekansı

In [ ]:
tf1 = (data["Phrase"]).apply(lambda x: 
                             pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()

In [ ]:
tf1.columns = ["words","tf"]

In [ ]:
tf1.head()

In [ ]:
tf1.nunique() # tekil mi soruluyor

In [ ]:
a = tf1[tf1["tf"] > 1000]

In [ ]:
a.plot.bar(x = "words", y = "tf"); # barplot grafiği

In [ ]:
# metin görselleştirme  WORDCLOUD  kelime bulutu

In [ ]:
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import matplotlib.pyplot as plt

In [ ]:
text = data["Phrase"][0]

In [ ]:
wordcloud = WordCloud().generate(text)

In [ ]:
plt.imshow(wordcloud, interpolation = "bilinear")
plt.axis("off")
plt.show()